:root {
  --color1: #fd1c6b;
  --color2: #564a9d;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  user-select: none;
}

.tetr-col {
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.vh-100 {
  height: 100vh;
}

.tetris-block {
  background: blue;
}

.control {
  min-height: 300px;
}

.control div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cheat {
  text-shadow:
    2px 2px 5px var(--color1),
    4px 4px 10px var(--color1),
    4px 5px 20px var(--color1);
  color: #fff;

}

/* btn Start */
.btn1,
.btn2 {
  border: 2px solid var(--color1);
  border-radius: 3px;
  color: var(--color1);
  text-decoration: none;
  background: #0000;
  cursor: pointer;
  padding: 5px 35px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: color .5s;


  &::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff8;
    animation: anime1 600ms linear forwards;
    opacity: 0;
    border-radius: 50%;
    transform: scale(0);
  }

  &::after {
    content: '';
    position: absolute;
    background: var(--color1);
    inset: 0;
    transform: scaleX(0);
    opacity: 0;
    transition: transform .8s, opacity .7s;
    z-index: -1;
  }
}

.btn2 {
  color: var(--color2);
  border: 2px solid var(--color2);

  &::after {
    background: var(--color2);
  }
}

.dialog1 .btn1 {
  z-index: 3;
}

.btn1:hover,
.btn2:hover {
  color: #fff;

  &::after {
    transform: scaleX(1);
    opacity: 1;
  }
}

.btn1:active,
.btn2:active {
  &::before {
    animation: none;
  }
}

.fz-section {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;

}

@keyframes anime1 {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  99% {
    transform: scale(3.5);
    opacity: 0;
  }

  100% {
    transform: scale(0);
  }
}

.btn1.active {
  animation: anime2 1s infinite alternate;
}


@keyframes anime2 {
  form {
    box-shadow: 0 0 5px var(--color1);
  }

  to {
    box-shadow: 0 0 30px var(--color1);
  }
}

/* btn End */
/* Dialog Start */
.dialog1 {
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: transform .5s;
  isolation: isolate;
  z-index: 2;

  &::before {
    content: '';
    inset: 0;
    position: absolute;
    z-index: -1;
    background: #0009;
  }

  & .dialog-body {
    border: 2px solid #ccc;
  }


  &.active {
    transform: scale(1);
  }

}

/* Dialog End */

.I {
  background: #00ffff;
}

.J {
  background: blue;
}

.L {
  background: #ffa500;
}

.O {
  background: yellow;
}

.S {
  background: #0f0;
}

.T {
  background: #a0f;
}

.Z {
  background: red;
}